offline_model/

Output_pdfs/

trained_helsinki/

fine_tuning_shit/

important_files/

trained_helsinki.zip


backend/backend.log
backend/__pycache__
backend/api/__pycache__
backend/core/__pycache__
backend/model/__pycache__
backend/services/__pycache__
backend/utils/__pycache__

frontend/__pycache__

build/
dist/
venv/
.vscode/

backend.log